@import "tailwindcss";

* {
  box-sizing: border-box;
}
body {

  min-height: 100vh;
  background-color: black;
}

hr {
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content {
  display: flex;
}
