.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4% bc;
  background-color: black;
  padding: 10px 120px ;
}
.navbar .logo{
  width: 60px;
  height: 60px;
}
.profile{
  width: 60px;
  height: 60px;
}
